.container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
